/* Stylesheet for REI Products Page*/


.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
}


div {
    width: 50%;
    float: right;
}